<div class="col-md-4 mb-4" id="serverCardComponent">
    <div class="card 
    {% if server.is_active == 0 %}
    disabled-card  
    {% endif %}
    ">

        <h5 class="card-header">
            {% if server.is_active == 0 %}
                <s>
            {% endif %}
            <span id="serverTitle">
                {{server.title}}
            </span>
            
            {% if server.is_active == 0 %}
                </s>
            {% endif %}
            
        </h5>
        <div class="card-body">
            {% if server.serverHost %}
                <p id="serverHost">Host: {{server.serverHost.username}}</p>
            {% endif %}

            <p id="serverDesc">Description: {{ server.description }}</p>
            {% if server.password %}
                <p id="serverPassword">Server is password protected</p>
            {% else %}
                <p id="serverKey">Connection Key: {{ server.connectionKey }}</p>
            {% endif %}

            {% if server.dateStarted %}
            <p id="serverStartDate">Server started at: {{server.dateStarted}}</p>
            {% endif %}

            {% if server.serverClients and server.is_active  %}
                <p>Clients: 
                    {% for client in server.serverClients.all %}
                        <a href={% url 'user' client.id%}>{{client.username}}</a>, 
                    {% endfor%}
                </p>
            {% endif %}

            {% if server.is_active == 0 %}
                <p id="serverEndDate">Server Closed at: {{server.dateEnded}}</p>
            {% endif %}
            <!-- Add other server fields as needed -->
            <div class="card-footer text-muted">
                <a class="btn btn-secondary" href="{% url 'server' server.id %}">View server</a>
            </div>
        </div>
    </div>
</div>