<div class="col-md-4 mb-4">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">{{ user.username }}</h5>
            <div class="card-footer text-muted">
                {% if view %}
                <a class="btn btn-secondary" href="{% url 'user' user.id %}">View User</a>
                {% endif %}
                {% if kick %}
                    {% ifDemo %}
                    <a class="btn btn-primary kickBtn" id="kickBtn_{{user.id}}">Kick Player</a> 
                    {% endifDemo %}
                {% endif %}
            </div>
        </div>
    </div>
</div>